
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Bootstrap应用模板</title>
</head>
<body>
    @*<h1 class="btn btn-success btn-lg">
        <i class=""></i>
        Hello world!
    </h1>*@

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Tab1</a></li>
        <li><a href="#tab2" data-toggle="tab">Tab2</a></li>
        <li><a href="#tab3" data-toggle="tab">Tab2</a></li>
        <li><a href="#tab4" data-toggle="tab">Tab2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1"><img src="images/1.png" /></div>
        <div class="tab-pane" id="tab2"><img src="images/1.png" /></div>
        <div class="tab-pane" id="tab3"><img src="images/1.png" /></div>
        <div class="tab-pane" id="tab4"><img src="images/1.png" /></div>
    </div>
</body>
</html>
@*<script>
    $(function () {
        $('.tabs a:last').tab('show')
    })
</script>*@

